<br/>
<div class="jumbotron">
    <div class="container">
        <h1>Trail Running Life</h1>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Races</h2>
            <p>Check out the great race in your area.</p>
            <p><a class="btn btn-default" href="#" role="button">more</a></p>
        </div>
        <div class="col-md-4">
            <h2>Gear</h2>
            <p>Shop for gear in out store.</p>
            <p><a class="btn btn-default" href="#" role="button">more</a></p>
        </div>
        <div class="col-md-4">
            <h2>Runners</h2>
            <p>A list of our great runners</p>
            <p><a class="btn btn-default" href="/runners" role="button">more</a></p>
        </div>
    </div>
</div>