<div class="container">
    <div class="page-header"><h1>Runners</h1></div>
    <div class="panel panel-default">
        <div class="panel-heading">Our top runners</div>
        <div class="panel-body">
            <p>Here is an example of the runners that you will see on the trails in our area.</p>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Favorite Beverage</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="runner in vm.runners">
                    <th scope="row">{{runner.id}}</th>
                    <td>{{runner.first}}</td>
                    <td>{{runner.last}}</td>
                    <td>{{runner.favoriteBeverage}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>